{% extends "base.html" %}


{%  block subMenu %}
                        <div class="collapse navbar-collapse nav nav-pills ms-2" id="navbarSupportedContent">
{#                            <nav class="">#}
                                    <a class="nav-link" href="/rack/list">List</a>
                                    <a class="nav-link" href="/rack/add">Add</a
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
{#                            </nav>#}
                        </div>
{%  endblock %}


{% block content %}

<div>
DASHBOARD
</div>

{% endblock %}