{% extends "rack/index.html" %}
{% block content %}

<div>
LIST
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for rack in racks %}
                    <tr>
                        <td>{{ rack.id }}</td>
                        <td>{{ rack.name }}</td>
                        <td>{{ rack.active }}</td>
                        <td>
                            <a href="{{ url_for('rack_bp.view', rack_id=rack.id) }}" class="btn btn-primary">View</a>
                            <a href="{{ url_for('rack_bp.edit', rack_id=rack.id) }}" class="btn btn-secondary">Edit</a>
                            <form method="POST" action="{{ url_for('rack_bp.toggle_activate', rack_id=rack.id) }}" style="display:inline;">
                                <button type="submit" class="btn btn-danger">
                                {{ 'Deactivate' if rack.active else 'Activate' }}
              </button>
            </form>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

{%  endblock %}
